@font-face {
  font-family: NotoSans-Light;
  src: url("../res/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: NotoSans-Bold;
  src: url("../res/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: FontAwesome;
  src: url("../node_modules/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf");
}
