.content {
  &.content-active {
    position: relative;
    opacity: 0.1;
  }
}
a {
  color: #000;
}

.about-us {
  background-color: #f4f4f4;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 768px) {
    padding-top: 45px;
    background-color: #fff;
    height: auto;
  }

  .line {
    top: 30%;
  }
  h1 {
    font-size: 50px;
    position: absolute;
    top: 30%;
    padding: 0 10vw;
    font-family: NotoSans-Bold;

    position: relative;

    @media (max-width: 768px) {
      font-size: 20.5px;
      position: relative;
      top: 0;
      padding-left: 10vw;
    }
  }
  img {
    position: absolute;
    right: 0;
    height: 85%;
    width: 50%;
    object-fit: cover;
    @media (max-width: 768px) {
      position: relative;
      top: 0;
      height: 50%;
      width: 100%;
    }
  }

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 50%;
    @media (max-width: 768px) {
      padding-top: 25px;
      justify-content: start;
      width: 100%;
    }

    p {
      padding: 0 10vw;
      font-size: 18px;
      font-family: NotoSans-Light;
    }
    a {
      position: absolute;
      bottom: 0;
      padding: 0;
      text-decoration: none;
      padding: 47px 130px;
      background-color: white;
      right: 0;
      transition: all 0.5s;
      &:hover {
        background-color: #000;
        color: white;
      }
      i {
        padding-left: 20px;
      }
      @media (max-width: 768px) {
        position: relative;
        text-align: right;
        padding: 25px 9vw 25px 0;
      }
    }

    p {
      position: relative;
      top: 38px;
      @media (max-width: 768px) {
        top: 0;
      }
    }
  }
}

.line {
  position: relative;
  left: 10vw;
  width: 33px;
  height: 15px;
  background: #e2d3b4;
  @media (max-width: 768px) {
    width: 30px;
    height: 20px;
    top: 0;
    margin-bottom: 12px;
  }
}
.mission {
  .hide {
    display: none;
  }

  background-color: #fff;
  position: relative;
  height: 100vh;
  display: flex;

  justify-content: flex-end;
  @media (max-width: 768px) {
    .hide {
      display: block;
    }
    height: auto;

    flex-direction: column;
  }
  h1 {
    position: absolute;
    font-size: 50px;
    padding: 0 10vw;

    font-family: NotoSans-Bold;

    position: relative;

    @media (max-width: 768px) {
      font-size: 20.5px;
      position: relative;
      top: 0;
      padding-left: 10vw;
    }
  }
  img {
    position: relative;
    top: 15vh;
    object-fit: cover;
    height: 85%;
    width: 50%;
    object-fit: cover;
    @media (max-width: 768px) {
      position: relative;
      top: 0;

      height: 50%;
      width: 100%;
    }
  }

  .mission-text {
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 50%;
    @media (max-width: 768px) {
      position: relative;
      width: 100%;
      justify-content: start;
    }

    h1,
    .line {
      @media (max-width: 768px) {
        font-size: 20.5px;
        display: none;
      }
    }
    a {
      position: absolute;
      bottom: 0;
      padding: 0;
      text-decoration: none;
      padding: 47px 130px;
      background-color: #f4f4f4;
      left: 0;
      transition: all 0.5s;
      &:hover {
        background-color: #000;
        color: white;
      }
      i {
        padding-left: 20px;
      }
      @media (max-width: 768px) {
        position: relative;
        text-align: right;
        padding: 25px 9vw 25px 0;
        background-color: #fff;
      }
    }

    p {
      padding: 0 10vw;
      font-family: NotoSans-Light;
      position: relative;
      top: 38px;
      font-size: 18px;
      @media (max-width: 768px) {
        padding-top: 25px;
        top: 0;
      }
    }
  }
}

.strategy {
  background-color: #f4f4f4;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 768px) {
    background-color: #fff;
    height: auto;
  }
  h1 {
    position: absolute;
    top: 30%;
    padding: 0 10vw;
    font-family: NotoSans-Bold;
    font-size: 50px;
    position: relative;

    @media (max-width: 768px) {
      font-size: 20.5px;
      position: relative;
      top: 0;
      padding-left: 10vw;
    }
  }
  .line {
    top: 30%;
    @media (max-width: 768px) {
      top: 0;
    }
  }
  .first {
    position: absolute;
    right: 0;
    height: 45%;
    width: 24%;
    top: 15vh;
    object-fit: cover;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .second {
    position: absolute;
    width: 27vw;
    top: 22vh;
    height: 49.6%;
    right: 27vw;
    object-fit: cover;
    @media (max-width: 768px) {
      position: relative;
      top: 0;
      height: 50%;
      width: 100%;
      right: 0;
    }
  }

  .strategy-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 50%;
    @media (max-width: 768px) {
      padding-top: 25px;
      justify-content: start;
      width: 100%;
    }
    p {
      font-size: 18px;
      padding: 0 10vw;
      font-family: NotoSans-Light;
      position: relative;
      top: 38px;
      @media (max-width: 768px) {
        top: 0;
      }
    }
    a {
      position: absolute;
      bottom: 0;
      padding: 0;
      text-decoration: none;
      padding: 47px 130px;
      background-color: white;
      left: 10vw;
      transition: all 0.5s;
      &:hover {
        background-color: #000;
        color: white;
      }
      i {
        padding-left: 20px;
      }
      @media (max-width: 768px) {
        position: relative;
        text-align: right;
        background-color: white;
        padding: 25px 9vw 25px 0;
        left: 0;
      }
    }
  }
}

.home-slider-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .slide1 {
    background-image: url("../res/bitmap.png");
  }
  .slide2 {
    background-image: url("../res/bitmap.png");
  }
  .slide3 {
    background-image: url("../res/bitmap.png");
  }
  .swiper-pagination-bullet {
    color: white;
    background-color: white;
    border: 1px solid #fff;
    padding: 5px;
  }
}

.gallery {
  padding-top: 15vh;
  @media (max-width: 768px) {
    padding-top: 0;
  }
  background-color: #fff;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    background-color: #fff;
    height: auto;
  }
  h1 {
    @media (max-width: 768px) {
      font-size: 20.5px;
    }
    position: relative;
    padding: 0 10vw;
    font-family: NotoSans-Bold;
    font-size: 50px;
  }

  .first {
    position: relative;
    height: 57vh;
    width: 32vw;
    left: 10vw;
    object-fit: cover;
    @media (max-width: 768px) {
      left: 0;
      width: 56vw;
      height: 46%;
    }
  }
  .second {
    position: absolute;
    width: 18vw;
    top: 15vh;
    height: 32vh;
    bottom: 66%;
    left: 44%;
    object-fit: cover;
    @media (max-width: 768px) {
      left: 61.5vw;
      width: 39.5vw;
      top: 60px;
      height: 39vw;
    }
  }
  .third {
    position: absolute;
    left: 44%;
    top: 50vh;
    bottom: 32%;
    width: 18vw;
    height: 32vh;
    @media (max-width: 768px) {
      width: 39.5vw;
      left: 61.5vw;
      top: 30vh;
      height: 39vw;
    }
  }
  .forth {
    position: absolute;
    right: 7vw;
    top: 5vh;
    @media (max-width: 768px) {
      display: none;
    }
  }
  a {
    position: absolute;
    bottom: 0;
    padding: 0;
    text-decoration: none;
    padding: 47px 130px;
    background-color: #f4f4f4;
    color: #000;
    right: 7vw;
    transition: all 0.5s;
    &:hover {
      background-color: #000;
      color: #fff;
    }
    i {
      padding-left: 20px;
    }
    @media (max-width: 768px) {
      position: relative;
      padding: 40px 0;
      margin: 0;
      left: 18vw;
      background-color: #fff;
    }
  }
  .gallery-text {
    @media (max-width: 768px) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    position: relative;
    width: 50%;

    p {
      font-size: 18px;
      padding: 0 10vw;
      font-family: NotoSans-Light;
      position: relative;
    }
  }
}
