.project-content {
  hr {
    border: 1px solid #d9d9d9;
  }
  ul {
    list-style: none;

    li {
      display: inline-flex;
      padding-right: 100px;
      a {
        text-decoration: none;
        color: #2b2b2b;
        padding: 50px 0;
        transition: all 0.3s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover {
          color: #2b2b2b;
        }
      }
    }
  }

  .nav {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        padding: 0;
        a {
          padding: 10px 0;
        }
      }
    }
  }
  .nav .active a {
    color: #2b2b2b;

    border-bottom: 1px solid #2b2b2b;
  }

  .tab-pane {
    display: none;
    h4 {
      font-size: 30px;
      padding: 70px 0;
    }
    p {
      width: 30%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    padding-bottom: 150px;
  }

  .tab-pane.active {
    display: block;
  }
}
