.banner-black {
  @media (max-width: 768px) {
    height: 34vh;
    background-color: #171717;
    display: flex;
    color: #fff;
    justify-content: space-between;

    padding: 0 10vw;
  }

  h2 {
    @media (max-width: 768px) {
      padding-top: 50px;
    }
  }
  .slider-arrows {
    @media (max-width: 768px) {
      padding-top: 70px;
      display: flex;
    }
    i {
      @media (max-width: 768px) {
        padding: 0 40px;
      }
    }
    hr {
      @media (max-width: 768px) {
        height: 20px;
      }
    }
  }
}
