@import "_style.scss";

* {
  font-family: NotoSans-Light;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #2b2b2b;
  max-width: 100%;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.container {
  display: flex;

  width: 79.6vw;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 81.4vw;
  }
}
@import "_fonts.scss";
